*{
    padding: 8px;
}

table{
    align-items: center;
    border-collapse: collapse;
}

tr{
    padding: 15px;
    width: 70%;
}

th{
    /*border:solid 1px #dfdfdf;*/
    background-color:#86D8FC;
}

tr:nth-child(2n+1){
    background-color: #f7f7f7;
}

.icon{
    width:360px;
}

.max{
    color: red;
}

.min{
    color: blue;
}
